<p>orden works!</p>
<h1 class="order-title">Your Order</h1>
<div class="order-content">
    <div class="order-display">
        <h4>Vegetarian Special Pizza</h4>
        <p class="order-info">$ 27.95</p>
    </div>
    <div class="order-display">
        <div>
            <p>-Small(8")</p>
            <p>.Cheesy</p>
            <p class="order-red">.No Onions</p>
            <p>+Mozzarella</p>
            <p>+Jalapeno</p>
            <p>+Chilli Flakes</p>
        </div>
        <div>
            <p>$0.00</p>
            <p>$0.00</p>
            <p>$0.00</p>
            <p>$3.00</p>
            <p>$2.50</p>
            <p>$1.50</p>
        </div>
    </div>
    <div>
        <span class="order-edit">EDIT</span>
        <span class="order-delete">DELETE</span>
    </div>

    <div class="order-display">
        <h4>Buffalo Wings</h4>
        <p class="order-info">$ 7.95</p>
    </div>
    <div class="order-display">
        <div>
            <p>.Blue Cheese</p>
        </div>
        <div>
            <p>$0.00</p>
        </div>
    </div>
    <div>
        <span class="order-edit">EDIT</span>
        <span class="order-delete">DELETE</span>
    </div>

    <div class="order-display">
        <h4>Greko Special Pizza</h4>
        <p class="order-info">$ 25.95</p>
    </div>

    <div class="order-display">
        <div>
            <p>-Small(8")</p>
            <p>.Marinara</p>
            <p  class="order-red">.No Black Olives</p>
            <p>+Onion</p>
            <p>+Jalapeno</p>
        </div>
        <div>
            <p>$0.00</p>
            <p>$0.00</p>
            <p>$0.00</p>
            <p>$1.00</p>
            <p>$2.50</p>
        </div>

    </div>
    <div>
        <span class="order-edit">EDIT</span>
        <span class="order-delete">DELETE</span>
    </div>


</div>
<div class="order-display-subTotal">
    <div>
        <p>Sub Total</p>
        <p>Tax @ 8%</p>
    </div>
    <div>
        <p>$60.35</p>
        <p>$4.13</p>
    </div>
</div>
<mat-divider>
</mat-divider>
<div class="order-display-total">
    <p>Total</p>
    <p>$65.10</p>
</div>
<div class="order-cart">
    <p>Empty cart</p>
</div>
<div class="order-proceed">
    PROCEED TO CHECKOUT
</div>